#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}



button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  margin: 0 5px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004080;
}

button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16) {
  background-color: #28a745;
}



button:nth-child(4):hover,
button:nth-child(8):hover,
button:nth-child(12):hover,
button:nth-child(16):hover {
  background-color: #218838;
}

button:nth-child(4):active,
button:nth-child(8):active,
button:nth-child(12):active,
button:nth-child(16):active {
  background-color: #1e7e34;
}

p {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}